<div class='element'>
  <div class='element_left'>
    <%= link_to recipe.name.capitalize, recipe %> 
    <% if can? :read, recipe %>
    <%= button_to 'REMOVE', recipe_path(recipe), method: :delete %> 
    <%end%>
  </div>
  <div class='element_right'>  
    <%= recipe.description %>
  </div>
</div>