<div class='element'>
  <div class='element_left'>
    <%= link_to recipe.name.capitalize, recipe %> 
    <%= button_to 'Remove', recipe_path(recipe), method: :delete %> 
  </div>
  <div class='element_right'>  
    <%= recipe.description %>
  </div>
</div>