<div class='create_button'>
  <%= link_to 'Add Recipe', new_recipe_path %> 
</div

<div class='list_container'>
<% @recipes.each do |recipe| %>
  <div class='element'>
    <div class='left'>
      <h4><%= link_to recipe.name.capitalize, recipe %></h4>
      <%= link_to 'Remove', recipe_path(recipe), method: :delete %>
    </div>
    <div class='rigth'>
    <%= recipe.description %>
    </div>
  </div>
<% end %>
</div>