<div class='list_container'>
  <div class='create_button'>
    <%= link_to 'Create a Recipe', new_recipe_path %> 
  </div>

  <% flash.each do |type, msg| %>
    <%= content_tag :div, msg, class: "#{type} alert" %>
  <% end %>
  <%= render partial: 'recipe', collection: @recipes %>
</div>
