<section class="container">

  <div class="recipe_detail">
    <h1>Recipe 1</h1>

   <p>cooking time</p>

   <p>Step to cook it/p>

   <button type="button">Genarate shopping list!</button>

   <button type="button">Add Ingridients!</button>

   </div>
</section>