<h1>User Home page</h1>
<h2>Your foods....</h2>
<%= button_to 'See your list of foods', user_foods_path(current_user), method: :get%>
<%= button_to 'See your shoping lists', user_shoping_lists_path(current_user), method: :get%>
<h2>Your recipes....</h2>
.
.
.
.
.
.
<%= button_to "Log out", destroy_user_session_path, method: :delete%>

