/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  padding: 1rem;
}

h2 {
  text-align: center;
}

h4 {
  margin: 0;
}

.navbar_contain {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.create_button a,
.recipe_show_buttons a {
  border: 1px solid black;
  padding: 2px 3px;
  text-decoration: none;
  color: black;
  box-shadow: 4px 5px #000;
}

.element_left a,
.element_left_recipes a {
  color: black;
  text-decoration: none;
  margin-bottom: 1rem;
}

.navbar_contain h3 a {
  color: rgb(27, 26, 26);
  text-decoration: none;
  border-bottom: 1px solid rgb(27, 26, 26);
  border-right: 1px solid rgb(27, 26, 26);
  padding: 0.5rem 0.5rem;
}

.navbar_contain div {
  display: flex;
}

.navbar_contain div a {
  margin: 0 1rem;
  text-decoration: none;
  color: rgb(44, 43, 43);
  font-weight: bold;
  border-bottom: 1px solid rgb(44, 43, 43);
  border-right: 1px solid rgb(44, 43, 43);
  padding: 0.5rem 1rem;
}

.container {
  margin: 0 auto;
  max-width: 700px;
}

.list_container {
  display: flex;
  flex-direction: column;
}

.create_button {
  display: flex;
  justify-content: end;
  margin-bottom: 1rem;
}

.element {
  border: 1px solid black;
  margin-bottom: 1rem;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
}

.element p {
  font-weight: bolder;
}

.element_left {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 1rem;
}

.element_left_recipes {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}

.details {
  flex: 3;
}

.toggle_section {
  flex: 1;
  text-align: end;
}

.toggle_section button {
  background-color: green;
  border: 1px solid green;
  border-radius: 50px;
  padding: 3px 5px;
  color: white;
}

.element_left button,
.content_table table button {
  text-decoration: underline;
  border: none;
  background-color: inherit;
  color: blue;
}

.element_right {
  flex: 4;
}

.form_section {
  margin: 0 auto;
  max-width: 300px;
}

.form_section form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form_section form input,
.form_section form div,
.form_section form select {
  margin-bottom: 1rem;
  height: 1.5rem;
}

.form_section form input[type="submit"] {
  height: 1.5rem;
}

.form_section form input[type="checkbox"] {
  margin: 0 1rem;
}

.form_section form div {
  display: flex;
  align-items: center;
}

.content_details {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}

.recipe_show_buttons {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
  border-bottom: 2px solid black;
}

.content_table {
  border: 1px solid black;
  margin-top: 2rem;
  width: 100%;
}

.content_table table {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 2px;
}

.content_table table thead,
.content_table table tbody {
  display: flex;
  width: 100%;
}

.content_table table tr {
  width: 100%;
  display: flex;
}

.content_table table th {
  width: 100%;
  background-color: rgb(192, 189, 189);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 5px;
  border-right: 1px solid black;
}

.content_table table td {
  width: 100%;
  display: flex;
  padding: 2px 5px;
  align-items: center;
  border-right: 1px solid black;
}

.content_table table tbody {
  flex-direction: column;
}

.content_table table tbody tr {
  height: 2rem;
}

.content_table table tbody tr:nth-child(odd) {
  background-color: rgb(235, 232, 232);
}
