@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300&family=Roboto&display=swap");

.pop-container {
  background-color: rgb(243, 241, 237);
  border-radius: 5px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.514);
  padding: 3%;
  font-family: "Roboto", sans-serif;
}

.flex-column {
  display: flex;
  flex-direction: column;
  float: right;
}

.flex-column a {
  text-decoration: none;
  color: black;
}

.pop-container.centerXY {
  margin: auto;
  margin-top: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.right {
  float: right;
}

.pop-container.center-content {
  text-align: center;
}

form input {
  padding: 5px;
  margin: 5px;
}

button,
input[type="submit"] {
  margin: 5px;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
}

.success {
  background-color: rgb(1, 102, 1);
  border: 2px solid rgb(3, 207, 3);
  color: rgb(243, 243, 0);
}

.info {
  background-color: rgb(243, 243, 0);
  border: 2px solid rgb(75, 75, 1);
  color: green;
}

.center {
  margin: auto;
  display: block;
  width: max-content;
}

.danger {
  background-color: rgb(172, 0, 0);
  border: 2px solid rgb(54, 1, 1);
  color: yellow;
}

.fle-box {
  display: flex;
  justify-content: space-between;
}

.title {
  color: red;
}

table {
  border-collapse: collapse;
}

table.strip tr:nth-child(2n + 3) {
  background-color: rgb(134, 134, 125);
}

table td {
  border-bottom: black 1px solid;
}

table th {
  border-bottom: 3px solid green;
  width: 10%;
  min-width: 70px;
  text-align: left;
}

.action-buttons {
  display: flex;
  justify-content: center;
}
