<div class='navbar_contain'>
<% if user_signed_in?%>
<h3><%= "Hi #{current_user.name.capitalize}!"%></h3>
<% else %>
<h3>Hi new guest!</h3>
<% end %>
<div>
<%= link_to 'Food', foods_path %> 
<%= link_to 'Recipes', recipes_path %>
<%= link_to 'Public Recipes', public_recipes_path %> 
</div>
</div>